$font-black-200: rgba(0, 0, 0, 0.79);
$font-chocolate: #2b1414;
$black-100 : #292929;

$blue-400: #d4e9f9;
$blue-300: #8cc4ec;
$blue-200 : #7ea1cc;
$blue-100: #4e9dd3;

$crimson-200: #ff4d6d;
$font-crimson-100: #e7426a;

$pink: #fab2d6;

$gray : #969696;

$bodily: #f7ebe5;

$green-300 : #73d193;
$green-200 : #7ccd7b;
$green-100 : #52b351;



