
// <style>
// @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap')
// </style>
@font-face {
   font-family: 'Proxima Nova';
   src: url('font\proximanova_regular.ttf');
   }
.header-01{
   font-family: Montserrat;
   width: 600;
   line-height: 37px;  
   color: #292929;
}
.header-02{
   font-family: Proxima Nova;
   width: 400;
   font-size: 18px;
   line-height: 22px;
   color: #292929;
}
.header-text{
   font-family: Proxima Nova;
   width: 400;
   font-size: 14px;
   line-height: 17px;
   color:#2B1414;
}
.stock-title1{
   font-family: Proxima Nova;
   width: 600;
   font-size: 16px;
   line-height: 20px;
   color:#FFFFFF;
}
.stock-title2{
   font-family: Montserrat;
   width: 600;
   font-size: 14px;
   line-height: 17px;
   color:#FFFFFF;
}
.stock-text{
   font-family: Montserrat;
   width: 600;
   font-size: 18px;
   line-height: 22px;
   color: #FFFFFF;
}
.main-text{
   font-family: Montserrat;
   width: 600;
   font-size: 16px;
   line-height: 20px;
   color: #292929;
}
.cart-title{
   font-family: Montserrat;
   width: 600;
   font-size: 20px;
   line-height: 24px;
   color: #292929;
}
.cart-text{
   font-family: Proxima Nova;
   width: 400;
   font-size: 16px;
   line-height: 20px;
   color: #292929;
}
.footer-title{
   font-family: Proxima Nova;
   width: 600;
   font-size: 16px;
   line-height: 20px;
   color:#292929;
}
.footer-text{
   font-family: Proxima Nova;
   width: 400;
   font-size: 14px;
   line-height: 17px;
   color: #292929;
}