@font-face {
   font-family: 'Montserrat', sans-serif;
   src: url("../base/font/Montserrat-SemiBold.ttf") format("ttf");
   font-style: normal;
   font-weight: normal;
   font-display: swap;
}

@font-face {
   font-family: 'Proxima Nova', sans-serif;
   src: url("../base/font/Proxima-Nova-Reg.ttf") format('ttf');
   font-style: normal;
   font-weight: normal;
   font-display: swap;

}

body {
   font-family: 'Montserrat', sans-serif;
}

.header-01 {
   font-family: 'Montserrat', sans-serif;
   font-weight: 600;
   line-height: 37px;
   color: $black-100;
}

.header-02 {
   font-family: 'Proxima Nova', sans-serif;
   font-weight: 400;
   font-size: 18px;
   line-height: 22px;
   color: $black-100;
}

.header-text {
   font-family: 'Proxima Nova', sans-serif;
   font-weight: 400;
   font-size: 14px;
   line-height: 17px;
   color: $font-chocolate;
}

.stock-title-1 {
   font-family: 'Proxima Nova', sans-serif;
   font-weight: 600;
   font-size: 16px;
   line-height: 20px;
   color: $font-white;
}

.stock-title-2 {
   font-family: 'Montserrat', sans-serif;
   font-weight: 600;
   font-size: 14px;
   line-height: 17px;
   color: $font-white;
}

.stock-text {
   font-family: 'Montserrat', sans-serif;
   font-weight: 600;
   font-size: 18px;
   line-height: 22px;
   color: $font-white;
}

.main-text {
   font-family: 'Montserrat', sans-serif;
   font-weight: 600;
   font-size: 16px;
   line-height: 20px;
   color: $black-100;
}

.cart-title {
   font-family: 'Montserrat', sans-serif;
   font-weight: 600;
   font-size: 20px;
   line-height: 24px;
   color: $black-100;
}

.cart-text {
   font-family: 'Proxima Nova', sans-serif;
   font-weight: 400;
   font-size: 16px;
   line-height: 20px;
   color: $black-100;
}

.footer-title {
   font-family: 'Proxima Nova', sans-serif;
   font-weight: 600;
   font-size: 16px;
   line-height: 20px;
   color: $black-100;
}

.footer-text {
   font-family: 'Proxima Nova', sans-serif;
   font-weight: 400;
   font-size: 14px;
   line-height: 17px;
   color: $black-100;
}