/* Customize the label (the container) */
.con {
   display: block;
   position: relative;
   cursor: pointer;
   font-size: 22px;
   -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
}

.con input {
   opacity: 0;
   cursor: pointer;
   height: 0;
   width: 0;
}

/* Create a custom checkbox */
.checkmark {
   position: absolute;
   top: 0;
   left: 0;
   height: 18px;
   width: 18px;
   background-color: $font-white;
   border: 1px solid $black-light;

}

/* On mouse-over, add a grey background color */
.con:hover input~.checkmark {
   background-color: $gray-200;
}

/* When the checkbox is checked, add a blue background */
.con input:checked~.checkmark {
   background-color: $font-crimson-100;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
   content: "";
   position: absolute;
   display: none;
}

/* Show the checkmark when checked */
.con input:checked~.checkmark:after {
   display: block;
}

/* Style the checkmark/indicator */
.con .checkmark:after {
   left: 30%;
   top: 5%;
   width: 5px;
   height: 10px;
   border: solid $font-white;
   border-width: 0 3px 3px 0;
   -webkit-transform: rotate(45deg);
   -ms-transform: rotate(45deg);
   transform: rotate(45deg);
}

/* Стили для состояния disable */
.con input:disabled~.checkmark {
   background-color: $gray-100;
   cursor: not-allowed;
}

.con input:disabled~.checkmark:after {
   border-color: $gray-100;
   display: none;
}